#root {
margin: 0;
padding: 0;
width: 100%;
height: 100vh;
background-color: rgb(17, 29, 65);
align-content: center;
text-align: center  ;
}

li{
    font-size: 1.5rem!important;
    color: white!important;
    list-style: none;
}

h1 {
    font-size: 5rem !important;
    color: white!important;   
}

img {
    width: 20rem;
}

h2 {
    font-size: 2.5rem !important;
    color: white!important;   
}

.nl{
    font-size: 1.5rem!important;
    color: white !important;
    text-decoration: none;
}

label{
    font-size: 1.5rem!important;
    color: white !important;
}